@charset "UTF-8";
/* btn*/
/*ボタンの幅*/
/*ボタンの高さ*/
/*ボタンの背景色*/
/*ボタンの角丸*/
/*ボーダーの色*/
/*ボーダーの太さ*/
/*アニメーションの時間*/
/*テキストカラー*/
/*ボタンの背景色(ホバー)*/
/*ボーダーの色(ホバー)*/
/*テキストカラー(ホバー)*/
.m_btn01 {
  text-align: center;
  width: 230px;
}
.m_btn01 a {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}
.m_btn01.s_bd01 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
}
.m_btn01.s_bd01 a:before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 1px solid #000;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd01 a:hover:before {
  opacity: 1;
}
.m_btn01.s_bd02 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd02 a:hover {
  box-shadow: 0px 0px 0px 2px #000;
}
.m_btn01.s_bd03 a {
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd03 a:hover {
  box-shadow: inset 0px 0px 0px 2px #000;
}
.m_btn01.s_bd04 a {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0px;
  line-height: 58px;
  position: relative;
}
.m_btn01.s_bd04 a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: 1px;
  background: #000;
  transition: 0.5s;
  transform: scale(0, 1);
}
.m_btn01.s_bd04 a:hover:before {
  transform: scale(1, 1);
}
.m_btn01.s_bd05 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd05 a:hover {
  border-radius: 30px;
}
.m_btn01.s_bd06 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
}
.m_btn01.s_bd06 a:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid #000;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd06 a:hover:before {
  opacity: 0;
  top: -11px;
  bottom: -11px;
  left: -11px;
  right: -11px;
}
.m_btn01.s_bd07 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
  transition: 0.5s;
}
.m_btn01.s_bd07 a:before, .m_btn01.s_bd07 a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0px;
}
.m_btn01.s_bd07 a:before {
  border-width: 1px 0 1px 0;
  transition: 0.5s;
  width: 0;
  height: 100%;
  top: -1px;
  left: -1px;
}
.m_btn01.s_bd07 a:after {
  border-width: 0 1px 0 1px;
  transition: 0.5s;
  width: 100%;
  height: 0;
  top: -1px;
  right: -1px;
}
.m_btn01.s_bd07 a:hover {
  color: #ccc;
  border-color: transparent;
}
.m_btn01.s_bd07 a:hover:before {
  width: calc(100% + 2px);
}
.m_btn01.s_bd07 a:hover:after {
  height: calc(100% + 2px);
}
.m_btn01.s_bd08 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
  transition: 0.5s;
}
.m_btn01.s_bd08 a:before, .m_btn01.s_bd08 a:after, .m_btn01.s_bd08 a span:before, .m_btn01.s_bd08 a span:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0px;
}
.m_btn01.s_bd08 a:before {
  border-width: 1px 0 0 0;
  transition: 0.5s;
  width: 0;
  height: 100%;
  top: -1px;
  left: -1px;
}
.m_btn01.s_bd08 a:after {
  border-width: 0 0 1px 0;
  transition: 0.5s;
  width: 0;
  height: 100%;
  bottom: -1px;
  right: -1px;
}
.m_btn01.s_bd08 a span:before {
  border-width: 0 1px 0 0;
  transition: 0.5s;
  width: 100%;
  height: 0;
  top: -1px;
  right: -1px;
}
.m_btn01.s_bd08 a span:after {
  border-width: 0 0 0 1px;
  transition: 0.5s;
  width: 100%;
  height: 0;
  bottom: -1px;
  left: -1px;
}
.m_btn01.s_bd08 a:hover {
  color: #ccc;
  border-color: transparent;
}
.m_btn01.s_bd08 a:hover:before, .m_btn01.s_bd08 a:hover:after {
  width: calc(100% + 2px);
}
.m_btn01.s_bd08 a:hover span:before, .m_btn01.s_bd08 a:hover span:after {
  height: calc(100% + 2px);
}
