/* btn*/
.m_btn01 {
  text-align: center;
}
.m_btn01 a {
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 8px 60px;
  color: #000;
  border: 1px solid #000;
}

.s_btn01 a:hover {
  background: #000;
  color: #fff;
}

.s_btn02 a {
  position: relative;
}
.s_btn02 a:before {
  content: '';
  opacity: 0;
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border: 1px solid #000;
  transition: 0.3s;
}
.s_btn02 a:hover:before {
  opacity: 1;
}

.s_btn03 a {
  position: relative;
}
.s_btn03 a:before, .s_btn03 a:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background: #000;
  transition: 0.3s;
  z-index: -1;
}
.s_btn03 a:before {
  left: 50%;
}
.s_btn03 a:after {
  right: 50%;
}
.s_btn03 a:hover {
  color: #fff;
}
.s_btn03 a:hover:before, .s_btn03 a:hover:after {
  width: 50%;
}

.s_btn04 a:hover {
  border-color: #fff;
  box-shadow: 0px 3px 3px #ccc;
}
