@charset "UTF-8";
/* gnavBtn*/
/*ボタンの幅*/
/*ボタンの高さ*/
/*ボタンのパディング*/
/*ボーダーの太さ*/
/*アニメーションの時間*/
.gnavBtn {
  text-indent: -9999px;
}
.gnavBtn a {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 10px;
  overflow: hidden;
}
.gnavBtn a:before {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  transition: 0.5s;
}
.gnavBtn a span {
  width: calc(100% - 20px);
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.gnavBtn a span:before, .gnavBtn a span:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
}
.gnavBtn a span:before {
  top: 10px;
}
.gnavBtn a span:after {
  bottom: 10px;
}

.s_gnavBtn01 a span:before, .s_gnavBtn01 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn01 a.is_active:before {
  opacity: 0;
  right: -10px;
}
.s_gnavBtn01 a.is_active span:before {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}
.s_gnavBtn01 a.is_active span:after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.s_gnavBtn02 a span:before, .s_gnavBtn02 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn02 a.is_active:before {
  transform: rotate(-45deg);
  top: -1px;
}
.s_gnavBtn02 a.is_active span:before {
  transform: rotate(45deg);
  top: 25px;
  margin-top: -1px;
  right: initial;
  right: auto;
}
.s_gnavBtn02 a.is_active span:after {
  transform: rotate(45deg);
  bottom: 25px;
  left: initial;
  left: auto;
}

.s_gnavBtn03 a.close:before {
  animation: s_gnavBtn03-bar1 0.5s forwards;
}
.s_gnavBtn03 a.close:after {
  animation: s_gnavBtn03-bar2 0.5s forwards;
}
.s_gnavBtn03 a.close span:before {
  animation: s_gnavBtn03-bar3 0.5s forwards;
}
.s_gnavBtn03 a.close span:after {
  animation: s_gnavBtn03-bar4 0.5s forwards;
}
.s_gnavBtn03 a:after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
}
.s_gnavBtn03 a span:before, .s_gnavBtn03 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn03 a.is_active:before {
  animation: s_gnavBtn03-bar1-active 0.5s forwards;
}
.s_gnavBtn03 a.is_active:after {
  animation: s_gnavBtn03-bar2-active 0.5s forwards;
}
.s_gnavBtn03 a.is_active span:before {
  animation: s_gnavBtn03-bar3-active 0.5s forwards;
}
.s_gnavBtn03 a.is_active span:after {
  animation: s_gnavBtn03-bar4-active 0.5s forwards;
}

@keyframes s_gnavBtn03-bar1 {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes s_gnavBtn03-bar2 {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes s_gnavBtn03-bar3 {
  0% {
    top: 50%;
    opacity: 0;
  }
  50% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}
@keyframes s_gnavBtn03-bar4 {
  0% {
    bottom: 50%;
    opacity: 0;
  }
  50% {
    bottom: 50%;
    opacity: 0;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes s_gnavBtn03-bar1-active {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes s_gnavBtn03-bar2-active {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes s_gnavBtn03-bar3-active {
  50% {
    top: 50%;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}
@keyframes s_gnavBtn03-bar4-active {
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 50%;
    opacity: 0;
  }
}
.s_gnavBtn04 a {
  transition: 0.5s;
}
.s_gnavBtn04 a span:before, .s_gnavBtn04 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn04 a.is_active {
  transform: rotate(360deg);
}
.s_gnavBtn04 a.is_active:before {
  opacity: 0;
}
.s_gnavBtn04 a.is_active span:before {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}
.s_gnavBtn04 a.is_active span:after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.s_gnavBtn05 a span:before, .s_gnavBtn05 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn05 a.is_active span:before {
  transform: rotate(-45deg);
  transform-origin: 0;
  top: 50%;
  left: -50%;
  width: 50%;
}
.s_gnavBtn05 a.is_active span:after {
  transform: rotate(45deg);
  transform-origin: 0;
  bottom: 50%;
  left: -50%;
  width: 50%;
}
