/* gnavBtn*/
.gnavBtn {
  margin: 0;
  text-indent: -9999px;
}
.gnavBtn a {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 10px;
}
.gnavBtn a:before {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  transition: 0.5s;
}
.gnavBtn a span {
  width: calc(100% - 20px);
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.gnavBtn a span:before, .gnavBtn a span:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
}
.gnavBtn a span:before {
  top: 10px;
}
.gnavBtn a span:after {
  bottom: 10px;
}

.s_gnavBtn01 a span:before, .s_gnavBtn01 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn01 a:hover:before {
  opacity: 0;
}
.s_gnavBtn01 a:hover span:before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.s_gnavBtn01 a:hover span:after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.s_gnavBtn02 a span:before, .s_gnavBtn02 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn02 a:hover:before {
  transform: rotate(-45deg);
  top: -1px;
}
.s_gnavBtn02 a:hover span:before {
  width: 50%;
  transform-origin: 100% 0;
  transform: rotate(45deg);
  top: calc(50% - 1px);
  right: initial;
  right: auto;
}
.s_gnavBtn02 a:hover span:after {
  width: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg);
  bottom: 50%;
  left: initial;
  left: auto;
}

.s_gnavBtn03 a:after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  transition: 0.5s;
}
.s_gnavBtn03 a span:before, .s_gnavBtn03 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn03 a:hover:before {
  transform: rotate(45deg);
}
.s_gnavBtn03 a:hover:after {
  transform: rotate(-45deg);
}
.s_gnavBtn03 a:hover span:before {
  opacity: 0;
}
.s_gnavBtn03 a:hover span:after {
  opacity: 0;
}
