@charset "UTF-8";
/*====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////

	version: 1.0
	created: 2017/01/01
	update : -

//////////////////////////////////////////////////////////////////////////////////////////////////////
====================================================================================================*/
/*====================================================================================================

	format

====================================================================================================*/
@font-face {
  font-family: "LocalYuGothicMedium";
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}
@font-face {
  font-family: "LocalYuGothicMedium";
  font-weight: bold;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}
html {
  overflow-y: scroll;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: LocalYuGothicMedium, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
  font-size: 1.4rem;
  line-height: 1.57143;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
}

p {
  margin: 0 0 2.2rem;
}

ul,
ol {
  margin: 0 0 2.2rem;
  padding-left: 0;
}

ul {
  list-style: none;
}

table {
  margin: 0 0 2.2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

table th > *:last-child,
table td > *:last-child {
  margin-bottom: 0 !important;
}

hr {
  display: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li img {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-size: 1.4rem;
  vertical-align: middle;
  font-family: LocalYuGothicMedium, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
}

button {
  display: inline;
  border: none;
  padding: 0;
  background: none;
}

em,
address,
small {
  font-style: normal;
}

em {
  font-weight: bold;
}

article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
mark,
audio,
video,
main {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

nav ul {
  list-style: none;
}

/*====================================================================================================

	base

====================================================================================================*/
/* Header
--------------------------------------------------------------------------------------------------- */
#gheader {
  margin: 0;
}

/* GlobalNavigation
--------------------------------------------------------------------------------------------------- */
#gnav {
  margin: 0;
}

/* Footer
--------------------------------------------------------------------------------------------------- */
#gfooter {
  margin: 0;
}

/*====================================================================================================

	module

====================================================================================================*/
/* utilities module
--------------------------------------------------------------------------------------------------- */
/* utilities */
.m_floatBox {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.m_floatBox > * {
  margin-right: 10px;
}

/* gnavBtn*/
/*ボタンの幅*/
/*ボタンの高さ*/
/*ボタンのパディング*/
/*ボーダーの太さ*/
/*ボーダーの色*/
/*アニメーションの時間*/
.gnavBtn {
  text-indent: -9999px;
}
.gnavBtn a {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 10px;
  overflow: hidden;
}
.gnavBtn a:before {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  transition: 0.5s;
}
.gnavBtn a span {
  width: calc(100% - 20px);
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.gnavBtn a span:before, .gnavBtn a span:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
}
.gnavBtn a span:before {
  top: 10px;
}
.gnavBtn a span:after {
  bottom: 10px;
}

.s_gnavBtn01 a span:before, .s_gnavBtn01 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn01 a.is_active:before {
  opacity: 0;
  right: -10px;
}
.s_gnavBtn01 a.is_active span:before {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}
.s_gnavBtn01 a.is_active span:after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.s_gnavBtn02 a span:before, .s_gnavBtn02 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn02 a.is_active:before {
  transform: rotate(-45deg);
  top: -1px;
}
.s_gnavBtn02 a.is_active span:before {
  transform: rotate(45deg);
  top: 25px;
  margin-top: -1px;
  right: initial;
  right: auto;
}
.s_gnavBtn02 a.is_active span:after {
  transform: rotate(45deg);
  bottom: 25px;
  left: initial;
  left: auto;
}

.s_gnavBtn03 a.close:before {
  animation: s_gnavBtn03-bar1 0.5s forwards;
}
.s_gnavBtn03 a.close:after {
  animation: s_gnavBtn03-bar2 0.5s forwards;
}
.s_gnavBtn03 a.close span:before {
  animation: s_gnavBtn03-bar3 0.5s forwards;
}
.s_gnavBtn03 a.close span:after {
  animation: s_gnavBtn03-bar4 0.5s forwards;
}
.s_gnavBtn03 a:after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
}
.s_gnavBtn03 a span:before, .s_gnavBtn03 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn03 a.is_active:before {
  animation: s_gnavBtn03-bar1-active 0.5s forwards;
}
.s_gnavBtn03 a.is_active:after {
  animation: s_gnavBtn03-bar2-active 0.5s forwards;
}
.s_gnavBtn03 a.is_active span:before {
  animation: s_gnavBtn03-bar3-active 0.5s forwards;
}
.s_gnavBtn03 a.is_active span:after {
  animation: s_gnavBtn03-bar4-active 0.5s forwards;
}

@-webkit-keyframes s_gnavBtn03-bar1 {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes s_gnavBtn03-bar1 {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes s_gnavBtn03-bar2 {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes s_gnavBtn03-bar2 {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes s_gnavBtn03-bar3 {
  0% {
    top: 50%;
    opacity: 0;
  }
  50% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}
@keyframes s_gnavBtn03-bar3 {
  0% {
    top: 50%;
    opacity: 0;
  }
  50% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}
@-webkit-keyframes s_gnavBtn03-bar4 {
  0% {
    bottom: 50%;
    opacity: 0;
  }
  50% {
    bottom: 50%;
    opacity: 0;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes s_gnavBtn03-bar4 {
  0% {
    bottom: 50%;
    opacity: 0;
  }
  50% {
    bottom: 50%;
    opacity: 0;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}
@-webkit-keyframes s_gnavBtn03-bar1-active {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes s_gnavBtn03-bar1-active {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes s_gnavBtn03-bar2-active {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes s_gnavBtn03-bar2-active {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes s_gnavBtn03-bar3-active {
  50% {
    top: 50%;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}
@keyframes s_gnavBtn03-bar3-active {
  50% {
    top: 50%;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}
@-webkit-keyframes s_gnavBtn03-bar4-active {
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 50%;
    opacity: 0;
  }
}
@keyframes s_gnavBtn03-bar4-active {
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 50%;
    opacity: 0;
  }
}
.s_gnavBtn04 a {
  transition: 0.5s;
}
.s_gnavBtn04 a span:before, .s_gnavBtn04 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn04 a.is_active {
  transform: rotate(360deg);
}
.s_gnavBtn04 a.is_active:before {
  opacity: 0;
}
.s_gnavBtn04 a.is_active span:before {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}
.s_gnavBtn04 a.is_active span:after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.s_gnavBtn05 a span:before, .s_gnavBtn05 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn05 a.is_active span:before {
  transform: rotate(-45deg);
  transform-origin: 0;
  top: 50%;
  left: -50%;
  width: 50%;
}
.s_gnavBtn05 a.is_active span:after {
  transform: rotate(45deg);
  transform-origin: 0;
  bottom: 50%;
  left: -50%;
  width: 50%;
}

.s_gnavBtn06 a {
  transition: 0.5s;
}
.s_gnavBtn06 a span:before, .s_gnavBtn06 a span:after {
  height: 1px;
  background: #000;
}
.s_gnavBtn06 a:hover span:before {
  transform: rotate(-45deg);
  transform-origin: 0;
  top: 50%;
  left: -50%;
  width: 50%;
}
.s_gnavBtn06 a:hover span:after {
  transform: rotate(45deg);
  transform-origin: 0;
  bottom: 50%;
  left: -50%;
  width: 50%;
}
.s_gnavBtn06 a.is_active {
  transform: rotateY(-180deg);
}
.s_gnavBtn06 a.is_active span:before {
  transform: rotate(-45deg);
  transform-origin: 0;
  top: 50%;
  left: -50%;
  width: 50%;
}
.s_gnavBtn06 a.is_active span:after {
  transform: rotate(45deg);
  transform-origin: 0;
  bottom: 50%;
  left: -50%;
  width: 50%;
}

/* btn*/
/*ボタンの幅*/
/*ボタンの高さ*/
/*ボタンの背景色*/
/*ボタンの角丸*/
/*ボーダーの色*/
/*ボーダーの太さ*/
/*アニメーションの時間*/
/*テキストカラー*/
/*ボタンの背景色(ホバー)*/
/*ボーダーの色(ホバー)*/
/*テキストカラー(ホバー)*/
.m_btn01 {
  text-align: center;
  width: 230px;
}
.m_btn01 a {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}
.m_btn01.s_bd01 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
}
.m_btn01.s_bd01 a:before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 1px solid #000;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd01 a:hover:before {
  opacity: 1;
}
.m_btn01.s_bd02 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd02 a:hover {
  box-shadow: 0px 0px 0px 2px #000;
}
.m_btn01.s_bd03 a {
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd03 a:hover {
  box-shadow: inset 0px 0px 0px 2px #000;
}
.m_btn01.s_bd04 a {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0px;
  line-height: 58px;
  position: relative;
}
.m_btn01.s_bd04 a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: 1px;
  background: #000;
  transition: 0.5s;
  transform: scale(0, 1);
}
.m_btn01.s_bd04 a:hover:before {
  transform: scale(1, 1);
}
.m_btn01.s_bd05 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd05 a:hover {
  border-radius: 30px;
}
.m_btn01.s_bd06 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
}
.m_btn01.s_bd06 a:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid #000;
  border-radius: 0px;
  transition: 0.5s;
}
.m_btn01.s_bd06 a:hover:before {
  opacity: 0;
  top: -11px;
  bottom: -11px;
  left: -11px;
  right: -11px;
}
.m_btn01.s_bd07 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
  transition: 0.5s;
}
.m_btn01.s_bd07 a:before, .m_btn01.s_bd07 a:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0px;
}
.m_btn01.s_bd07 a:before {
  border-width: 1px 0 1px 0;
  transition: 0.5s;
  width: 0;
  height: 100%;
  top: -1px;
  left: -1px;
}
.m_btn01.s_bd07 a:after {
  border-width: 0 1px 0 1px;
  transition: 0.5s;
  width: 100%;
  height: 0;
  top: -1px;
  right: -1px;
}
.m_btn01.s_bd07 a:hover {
  color: #ccc;
  border-color: transparent;
}
.m_btn01.s_bd07 a:hover:before {
  width: calc(100% + 2px);
}
.m_btn01.s_bd07 a:hover:after {
  height: calc(100% + 2px);
}
.m_btn01.s_bd08 a {
  background: #fff;
  border: 1px solid #000;
  line-height: 58px;
  border-radius: 0px;
  position: relative;
  transition: 0.5s;
}
.m_btn01.s_bd08 a:before, .m_btn01.s_bd08 a:after, .m_btn01.s_bd08 a span:before, .m_btn01.s_bd08 a span:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0px;
}
.m_btn01.s_bd08 a:before {
  border-width: 1px 0 0 0;
  transition: 0.5s;
  width: 0;
  height: 100%;
  top: -1px;
  left: -1px;
}
.m_btn01.s_bd08 a:after {
  border-width: 0 0 1px 0;
  transition: 0.5s;
  width: 0;
  height: 100%;
  bottom: -1px;
  right: -1px;
}
.m_btn01.s_bd08 a span:before {
  border-width: 0 1px 0 0;
  transition: 0.5s;
  width: 100%;
  height: 0;
  top: -1px;
  right: -1px;
}
.m_btn01.s_bd08 a span:after {
  border-width: 0 0 0 1px;
  transition: 0.5s;
  width: 100%;
  height: 0;
  bottom: -1px;
  left: -1px;
}
.m_btn01.s_bd08 a:hover {
  color: #ccc;
  border-color: transparent;
}
.m_btn01.s_bd08 a:hover:before, .m_btn01.s_bd08 a:hover:after {
  width: calc(100% + 2px);
}
.m_btn01.s_bd08 a:hover span:before, .m_btn01.s_bd08 a:hover span:after {
  height: calc(100% + 2px);
}

/* ※※ module
--------------------------------------------------------------------------------------------------- */

/*# sourceMappingURL=styles.css.map */
