@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	version: 1.0
//	created: 2017/01/01
//	update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/*====================================================================================================

	format

====================================================================================================*/
@font-face {
	font-family: "LocalYuGothicMedium";
	font-weight: normal;
	src: local("YuGothic-Medium"),
		local("Yu Gothic Medium"),
		local("YuGothic-Regular");
}
@font-face {
	font-family: "LocalYuGothicMedium";
	font-weight: bold;
	src: local("YuGothic-Bold"),
		local("Yu Gothic");
}

html {
	overflow-y: scroll;
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: $baseFontSize;
}

p {
	margin: 0 0 ($baseFontSize * $baseLineHeight);
}

ul,
ol {
	margin: 0 0 ($baseFontSize * $baseLineHeight);
	padding-left: 0;
}

ul{
	list-style: none;
}

table {
	margin: 0 0 ($baseFontSize * $baseLineHeight);
	border-collapse: collapse;
	border-spacing: 0;
}

table th,
table td {
	@include lastElement;
}

hr {
	display: none;
}

img {
	border: 0;
	vertical-align: middle;
}

li img {
	vertical-align: middle;
}

button,
input,
select,
textarea {
	font-size: $baseFontSize;
	vertical-align: middle;
	font-family: $baseFontFamily;
}

button{
	display: inline;
	border: none;
	padding: 0;
	background: none;
}

em,
address,
small{
	font-style: normal;
}

em {
	font-weight: bold;
}

article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
mark,
audio,
video,
main {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

nav ul {
	list-style: none;
}