@charset "utf-8";

//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	version: 1.0
//	created: 2017/01/01
//	update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/* btn*/

/*ボタンの幅*/
$btnWidth:230px;
/*ボタンの高さ*/
$btnHeight:60px;
/*ボタンの背景色*/
$btnBg:#fff;
/*ボタンの角丸*/
$radius:0px;
/*ボーダーの色*/
$borderColor:#000;
/*ボーダーの太さ*/
$borderWidth:1px;
/*アニメーションの時間*/
$duration:0.5s;
/*テキストカラー*/
$fontColor:#000;

/*ボタンの背景色(ホバー)*/
$btnBg:#fff;
/*ボーダーの色(ホバー)*/
$borderHoverColor:#ccc;
/*テキストカラー(ホバー)*/
$hoverFontColor:#ccc;

.m_btn01{
	text-align: center;
	width: $btnWidth;
	a{
		display: block;
		text-decoration: none;
		box-sizing: border-box;
		color: $fontColor;
	}
	&.s_bd01{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			position: relative;
			&:before{
				opacity: 0;
				content: '';
				position: absolute;
				top: 3px;
				bottom: 3px;
				left: 3px;
				right: 3px;
				border: $borderWidth solid $borderColor;
				border-radius: $radius;
				transition: $duration;
			}
			&:hover{
				&:before{
					opacity: 1;
				}
			}
		}
	}
	&.s_bd02{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			transition: $duration;
			&:hover{
				box-shadow: 0px 0px 0px 2px $borderColor;
			}
		}
	}
	&.s_bd03{
		a{
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			transition: $duration;
			&:hover{
				box-shadow: inset 0px 0px 0px 2px $borderColor;
			}
		}
	}
	&.s_bd04{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			border-radius: $radius;
			line-height: $btnHeight - $borderWidth*2;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				bottom: 0;
				left: -$borderWidth;
				width: calc(100% + #{$borderWidth*2});
				height: $borderWidth;
				background: $borderColor;
				transition: $duration;
				transform: scale(0,1)
			}
			&:hover{
				&:before{
					transform: scale(1,1)
				}
			}
		}
	}
	&.s_bd05{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			transition: $duration;
			&:hover{
				border-radius: $btnHeight/2;
			}
		}
	}
	&.s_bd06{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: -$borderWidth;
				bottom: -$borderWidth;
				left: -$borderWidth;
				right: -$borderWidth;
				border: $borderWidth solid $borderColor;
				border-radius: $radius;
				transition: $duration;
			}
			&:hover{
				&:before{
					opacity: 0;
					top: -$borderWidth - 10;
					bottom: -$borderWidth - 10;
					left: -$borderWidth - 10;
					right: -$borderWidth - 10;
				}
			}
		}
	}
	&.s_bd07{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			position: relative;
			transition: $duration;
			&:before,&:after{
				content: '';
				position: absolute;
				border-style: solid;
				border-color: $borderHoverColor;
				border-radius: $radius;
			}
			&:before{
				border-width: $borderWidth 0 $borderWidth 0;
				transition: $duration;
				width: 0;
				height: 100%;
				top:-$borderWidth;
				left: -$borderWidth;
			}
			&:after{
				border-width: 0 $borderWidth 0 $borderWidth;
				transition: $duration;
				width: 100%;
				height: 0;
				top: -$borderWidth;
				right:-$borderWidth;
			}
			&:hover{
				color: $hoverFontColor;
				border-color: transparent;
				&:before{
					width: calc(100% + #{$borderWidth*2});
				}
				&:after{
					height: calc(100% + #{$borderWidth*2});
				}
			}
		}
	}
	&.s_bd08{
		a{
			background: $btnBg;
			border: $borderWidth solid $borderColor;
			line-height: $btnHeight - $borderWidth*2;
			border-radius: $radius;
			position: relative;
			transition: $duration;
			&:before,&:after,span:before,span:after{
				content: '';
				position: absolute;
				border-style: solid;
				border-color: $borderHoverColor;
				border-radius: $radius;
			}
			&:before{
				border-width: $borderWidth 0 0 0;
				transition: $duration;
				width: 0;
				height: 100%;
				top:-$borderWidth;
				left: -$borderWidth;
			}
			&:after{
				border-width: 0 0 $borderWidth 0;
				transition: $duration;
				width: 0;
				height: 100%;
				bottom: -$borderWidth;
				right:-$borderWidth;
			}
			span{
				&:before{
					border-width: 0 $borderWidth 0 0;
					transition: $duration;
					width: 100%;
					height: 0;
					top:-$borderWidth;
					right: -$borderWidth;
				}
				&:after{
					border-width: 0 0 0 $borderWidth;
					transition: $duration;
					width: 100%;
					height: 0;
					bottom: -$borderWidth;
					left:-$borderWidth;
				}
			}
			&:hover{
				color: $hoverFontColor;
				border-color: transparent;
				&:before,&:after{
					width: calc(100% + #{$borderWidth*2});
				}
				span{
					&:before,&:after{
						height: calc(100% + #{$borderWidth*2});
					}
				}
			}
		}
	}
}