@charset "utf-8";

//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	version: 1.0
//	created: 2017/01/01
//	update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/* gnavBtn*/

/*ボタンの幅*/
$btnWidth:30px;
/*ボタンの高さ*/
$btnHeight:30px;
/*ボタンのパディング*/
$btnPadding:10px;
/*ボーダーの太さ*/
$borderWidth:1px;
/*ボーダーの色*/
$borderColor:#000;
/*アニメーションの時間*/
$duration:0.5s;

.gnavBtn{
	text-indent: -9999px;
	a{
		display: block;
		width: $btnWidth;
		height: $btnHeight;
		position: relative;
		padding: $btnPadding;
		overflow: hidden;
		&:before{
			content: '';
			display: block;
			width: calc(100% - #{$btnPadding*2});
			height: $borderWidth;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: $borderColor;
			transition: $duration;
		}
		span{
			width: calc(100% - #{$btnPadding*2});
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			&:before,
			&:after{
				content: '';
				display: block;
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				transition: $duration;
			}
			&:before{
				top: $btnPadding;
			}
			&:after{
				bottom: $btnPadding;
			}
		}
	}
}
.s_gnavBtn01{
	a{
		span{
			&:before,
			&:after{
				height: $borderWidth;
				background: $borderColor;
			}
		}
		&.is_active{
			&:before{
				opacity: 0;
				right: -$btnPadding;
			}
			span{
				&:before{
					transform: rotate(45deg);
					top: 50%;
					margin-top: -$borderWidth;
				}
				&:after{
					transform: rotate(-45deg);
					bottom: 50%;
				}
			}
		}
	}
}

.s_gnavBtn02{
	a{
		span{
			&:before,
			&:after{
				height: $borderWidth;
				background: $borderColor;
			}
		}
		&.is_active{
			&:before{
				transform: rotate(-45deg);
				top: -$borderWidth;
			}
			span{
				&:before{
					transform: rotate(45deg);
					top: $btnHeight/2 + $btnPadding;
					margin-top: -$borderWidth;
					right: initial;
					right: auto;
				}
				&:after{
					transform: rotate(45deg);
					bottom: $btnHeight/2 + $btnPadding;
					left: initial;
					left: auto;
				}
			}
		}
	}
}

.s_gnavBtn03{
	a{
		&.close{
			&:before{
				animation: s_gnavBtn03-bar1 $duration forwards;
			}
			&:after{
				animation: s_gnavBtn03-bar2 $duration forwards;
			}
			span{
				&:before{
					animation: s_gnavBtn03-bar3 $duration forwards;
				}
				&:after{
					animation: s_gnavBtn03-bar4 $duration forwards;
				}
			}
		}
		&:after{
			content: '';
			display: block;
			width: calc(100% - #{$btnPadding*2});
			height: $borderWidth;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: $borderColor;
			
		}
		span{
			&:before,
			&:after{
				height: $borderWidth;
				background: $borderColor;
			}
		}
		&.is_active{
			&:before{
				animation: s_gnavBtn03-bar1-active $duration forwards;
			}
			&:after{
				animation: s_gnavBtn03-bar2-active $duration forwards;
			}
			span{
				&:before{
					animation: s_gnavBtn03-bar3-active $duration forwards;
				}
				&:after{
					animation: s_gnavBtn03-bar4-active $duration forwards;
				}
			}
		}
	}
}
@-webkit-keyframes s_gnavBtn03-bar1 {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: none;
	}
	100% {
		transform: none;
	}
}
@keyframes s_gnavBtn03-bar1 {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: none;
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes s_gnavBtn03-bar2 {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: none;
	}
	100% {
		transform: none;
	}
}
@keyframes s_gnavBtn03-bar2 {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: none;
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes s_gnavBtn03-bar3 {
	0% {
		top: 50%;
		opacity: 0;
	}
	50% {
		top: 50%;
		opacity: 0;
	}
	100% {
		top: $btnPadding;
		opacity: 1;
	}
}
@keyframes s_gnavBtn03-bar3 {
	0% {
		top: 50%;
		opacity: 0;
	}
	50% {
		top: 50%;
		opacity: 0;
	}
	100% {
		top: $btnPadding;
		opacity: 1;
	}
}
@-webkit-keyframes s_gnavBtn03-bar4 {
	0% {
		bottom: 50%;
		opacity: 0;
	}
	50% {
		bottom: 50%;
		opacity: 0;
	}
	100% {
		bottom: $btnPadding;
		opacity: 1;
	}
}
@keyframes s_gnavBtn03-bar4 {
	0% {
		bottom: 50%;
		opacity: 0;
	}
	50% {
		bottom: 50%;
		opacity: 0;
	}
	100% {
		bottom: $btnPadding;
		opacity: 1;
	}
}

@-webkit-keyframes s_gnavBtn03-bar1-active {
	0% {
	}
	50% {
		transform: none;
	}
	100% {
		transform: rotate(45deg);
	}
}
@keyframes s_gnavBtn03-bar1-active {
	0% {
	}
	50% {
		transform: none;
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes s_gnavBtn03-bar2-active {
	0% {
	}
	50% {
		transform: none;
	}
	100% {
		transform: rotate(-45deg);
	}
}
@keyframes s_gnavBtn03-bar2-active {
	0% {
	}
	50% {
		transform: none;
	}
	100% {
		transform: rotate(-45deg);
	}
}
@-webkit-keyframes s_gnavBtn03-bar3-active {
	0% {
	}
	50% {
		top: 50%;
	}
	100% {
		top: 50%;
		opacity: 0;
	}
}
@keyframes s_gnavBtn03-bar3-active {
	0% {
	}
	50% {
		top: 50%;
	}
	100% {
		top: 50%;
		opacity: 0;
	}
}
@-webkit-keyframes s_gnavBtn03-bar4-active {
	0% {
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 50%;
		opacity: 0;
	}
}
@keyframes s_gnavBtn03-bar4-active {
	0% {
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 50%;
		opacity: 0;
	}
}

.s_gnavBtn04{
	a{
		transition: $duration;
		span{
			&:before,
			&:after{
				height: $borderWidth;
				background: $borderColor;
			}
		}
		&.is_active{
			transform: rotate(360deg);
			&:before{opacity: 0;}
			span{
				&:before{
					transform: rotate(45deg);
					top: 50%;
					margin-top: -$borderWidth;
				}
				&:after{
					transform: rotate(-45deg);
					bottom: 50%;
				}
			}
		}
	}
}

.s_gnavBtn05{
	a{
		span{
			&:before,
			&:after{
				height: $borderWidth;
				background: $borderColor;
			}
		}
		&.is_active{
			span{
				&:before{
					transform: rotate(-45deg);
					transform-origin: 0;
					top: 50%;
					left: -50%;
					width: 50%;
				}
				&:after{
					transform: rotate(45deg);
					transform-origin: 0;
					bottom: 50%;
					left: -50%;
					width: 50%;
				}
			}
		}
	}
}

.s_gnavBtn06{
	a{
		transition: $duration;
		span{
			&:before,
			&:after{
				height: $borderWidth;
				background: $borderColor;
			}
		}
		&:hover{
			span{
				&:before{
					transform: rotate(-45deg);
					transform-origin: 0;
					top: 50%;
					left: -50%;
					width: 50%;
				}
				&:after{
					transform: rotate(45deg);
					transform-origin: 0;
					bottom: 50%;
					left: -50%;
					width: 50%;
				}
			}
		}
		&.is_active{
			transform: rotateY(-180deg);
			span{
				&:before{
					transform: rotate(-45deg);
					transform-origin: 0;
					top: 50%;
					left: -50%;
					width: 50%;
				}
				&:after{
					transform: rotate(45deg);
					transform-origin: 0;
					bottom: 50%;
					left: -50%;
					width: 50%;
				}
			}
		}
	}
}