@charset "utf-8";

//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	version: 1.0
//	created: 2017/01/01
//	update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/* utilities */

.m_floatBox{
	width: 980px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	>*{
		margin-right: 10px;
	}
}