@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// base width
$contentWidth:1024px;
$maxContentWidth:1200px;
$spContentWidth:320px;
$rwdBreakPoint01:640px;
$rwdBreakPoint02:980px;

// base color
$baseColorType01:#000000;
// $baseColorType02:#004ba5;
// $baseColorType03:#02a0e9;

// base font
$baseFontFamily: LocalYuGothicMedium, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体" , -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
$baseFontSize: 1.4rem;
$baseLineHeight: 22 / 14;

